.nav-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
 
}


main {


	background-color: #f7f7f7;
}



.banner {
	background-image: url(images/technology.jpg);
	background-position: center, center;
	background-size: cover;
	height: 600px;
	padding-top: 1px; /* annuler le débordement des marges */
}

.banner h1 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color:white;
	font-weight: 700;
	letter-spacing: 5px;


}


.banner p {

font-family: 'Montserrat', sans-serif;
color:white;

}


.competences div {
	border: solid 5px;
	border-radius: 10px;
}


.fa-html5 {

	color: #f2672e;
	transition: color 1s ease-in-out;
}


.fa-html5:hover {
	color: #e65127;
}



.fa-css3-alt {

	color: #30aadd;
	transition: color 1s ease-in-out;

}


.fa-css3-alt:hover {
	color: #0c73b8;
}


.fa-js-square {
	color: #f2bf26;
	transition: color 1s ease-in-out;


}


.fa-js-square:hover {
	color: #e7a328;


}



.card {
	border-radius: 10px;
	transition: box-shadow .4s ease-in-out;
}

.card:hover {
		box-shadow: 1px 1px 10px rgba(0,0,0,0.15);

}


.formulaire-contact {
	font-family: 'Montserrat', sans-serif;

}

.formulaire-contact button[type="submit"] {
	letter-spacing: 1px;

}